<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="../assets/css/QmgzListView.min.css" rel="stylesheet"/>
  <script src="../assets/js/lib/flex/flex.js"></script>
  <title>&lrm;</title>
</head>
<body>
<div class="wrapper">
  <h1 class="page-name">查询全民共治</h1>

  <!--查询全民共治有数据-->
  <div class="query-info">
    <p>2018年10月09日 15:17:47</p>
    <ul class="el-shadow">
      <li>
        <label>意见或建议</label>
        <span>挺好的，辛苦</span>
      </li>
      <li>
        <label>提交时间</label>
        <span>2018/10/27 15:17:47</span>
      </li>
      <li>
        <label>所属地区</label>
        <span>贵阳市公安交通管理局</span>
      </li>
      <li>
        <label>当前状态</label>
        <span>处理中</span>
      </li>
      <li>
        <label>处理时间</label>
        <span>2019-10-20</span>
      </li>
      <li>
        <label>处理人</label>
        <span>张警官</span>
      </li>
      <li>
        <label>处理意见</label>
        <span>贵阳市公安交通管理局贵阳市公安交通管理局贵阳市公安交通管理局贵阳市公安交通管理局贵阳市公安交通管理局</span>
      </li>
    </ul>
  </div>

  <!--查询全民共治没有数据-->
  <div class="no-data" style="display: none">
    <div class="icon"></div>
    <p>您还没有记录</p>
  </div>
</div>
<script src="https://dcb-cdn.oss-cn-beijing.aliyuncs.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../assets/js/utils/utils.min.js"></script>
<script src="../assets/js/views/QmgzListView.min.js"></script>
</body>
</html>
