@import "../base/global";

.content-ul{
  padding-left: 15px;
  li{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid rgba(228, 228, 228, 1);
    padding: 15px 15px 15px 0;
  }


  label{
    width: 22%;
    margin-bottom: 0;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 400;
    color: rgba(70, 81, 102, 1);
    line-height: 22px;
    white-space: nowrap;
  }

  input{
    overflow: hidden;
    font-weight:400;
    line-height:22px;
    background: none;
    flex: 1;
  }
}

.feedback-msg{
  margin: 15px 15px 15px 15px;
  width: 92%;
  height:95px;
  padding: 7px 7px 7px 7px;
  text-align: left;
  border-radius:8px;
  resize: none;
  border:1px solid rgba(223, 223, 223, 1);
}

.feedback-tips{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:12px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(243,85,48,1);
  line-height:17px;
}

.feedback-img-tips{
  margin-bottom: 15px;
  font-size:14px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(70,81,102,1);
  line-height:20px;
}

.upload-img-btn{
  width: 110px;
  text-align: center;
  margin-bottom: 26px;
  background:rgba(255,168,9,1);
  border-radius:13px;
  padding: 2px 6px 2px 6px;
  font-size:14px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:20px;
}

.upload-img-div{
  display: flex;
  flex-direction: column;
}

.feedback-submit{
  margin-top: 20px;
  margin-bottom: 46px;
}

.icon-color{
  width: 20px;
  height: 20px;
  text-align: center;
  color: rgba(245, 166, 35, 1);
}

.select-text{
  font-size:14px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(70,81,102,1);
  line-height:20px;
  flex: 1;
}

.select-text-a{
  font-size:14px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(70,81,102,1);
  line-height:20px;
}