@import "../base/global";

.desc {
  color: rgba(70, 81, 102, 1);
  font-size: $fz-14;
  font-family: $pfr;
  line-height: 24px;
  margin-bottom: 40px;
}

.submit-btn {
  margin-bottom: 20px;
}

